In [1]:
import pandas as pd
from pycaret.classification import *

# Memuat data dari lokasi file
data = pd.read_csv('C:/Users/USER/Semester 4_MLOps/kelayakan_ukt/klasifikasi_mahasiswa.csv')
data

,Tempat Tinggal,Pekerjaan Orang Tua,Penghasilan Orang Tua,Jumlah Tanggungan Orang Tua,Kendaraan,Kelayakan Keringanan UKT
0,0,PNS,10000000,3,1,1
1,0,TNI/POLRI,8000000,2,2,0
2,1,Petani,4000000,4,0,1
3,1,Nelayan,3000000,5,1,1
4,0,Buruh,2000000,2,1,0
...,...,...,...,...,...,...
95,0,PNS,9000000,2,2,0
96,1,Wiraswasta,6000000,1,1,0
97,1,TNI/POLRI,8000000,2,2,0
98,0,Nelayan,3000000,5,1,1
99,0,Petani,700000,3,1,1

In [2]:
# Setup klasifikasi
s = setup(data, target='Kelayakan Keringanan UKT', session_id=123)

# Membuat model klasifikasi
best = compare_models()

# Melakukan tuning pada model terbaik
tuned_best = tune_model(best)

# Menampilkan evaluasi model
evaluate_model(tuned_best)

# Menyelesaikan model
final_model = finalize_model(tuned_best)

# Menyimpan model ke file .pkl
save_model(final_model, 'kelayakan_ukt')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Tempat Tinggal',
                                              'Penghasilan Orang Tua',
                                              'Jumlah Tanggungan Orang Tua',
                                              'Kendaraan'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  Transf...
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('actual_estimator',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, random_state=123,
                                         splitter='best'))],
          verbose=False),
 'kelayakan_ukt.pkl')